<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <!--<script src="../public/js/index.js"></script>-->
    <!-- <script src="/models/time.js"></script>-->
    <title>Zanimljiva geografija</title>
</head>

<body>

    <button type="button" id="return">Povratak nazad</button>

    <main class="main1">
        <div class="row">
            <div class="column1">
                <div style="display: inline-block;">
                    <h1 id="soba">Soba</h1>
                    <h1 id="slovo"></h1>
                    <h2 id="vreme"></h2>
                    <h3 id="runde">Runda/Ukupno:</h3>
                    <div class="player0">

                        <form>
                            <table class="table0">
                                <tr>
                                    <th>Pojmovi</th>
                                    <th id="0">
                                        Igrac1
                                    </th>
                                </tr>
                                <tr>
                                    <th>Drzava</th>
                                    <th id="drzava0">
                                        <input id="drzavaInput0" readonly style="width: 100%;">
                                    </th>
                                </tr>
                                <tr>
                                    <th>Grad</th>
                                    <th id="grad0">
                                        <input id="gradInput0" readonly style="width: 100%;">
                                    </th>
                                </tr>
                                <tr>
                                    <th>Reka</th>
                                    <th id="reka0">
                                        <input id="rekaInput0" readonly style="width: 100%;">
                                    </th>
                                </tr>
                                <tr>
                                    <th>Planina</th>
                                    <th id="planina0">
                                        <input id="planinaInput0" readonly style="width: 100%;">
                                    </th>
                                </tr>
                            </table>
                            <button type="button" id="send0">Potvrdi</button>

                        </form>
                    </div>
                    <div class="player1">
                        <form>
                            <table>
                                <tr>
                                    <th>Pojmovi</th>
                                    <th id="1">
                                        Igrac2
                                    </th>
                                </tr>
                                <tr>
                                    <th>Drzava</th>
                                    <th id="drzava1">
                                        <input id="drzavaInput1" readonly style="width: 100%;">
                                    </th>
                                </tr>
                                <tr>
                                    <th>Grad</th>
                                    <th id="grad1">
                                        <input id="gradInput1" readonly style="width: 100%;">
                                    </th>
                                </tr>
                                <tr>
                                    <th>Reka</th>
                                    <th id="reka1">
                                        <input id="rekaInput1" readonly style="width: 100%;">
                                    </th>
                                </tr>
                                <tr>
                                    <th>Planina</th>
                                    <th id="planina1">
                                        <input id="planinaInput1" readonly style="width: 100%;">
                                    </th>
                                </tr>
                            </table>
                            <button type="button" id="send1">Potvrdi</button>

                        </form>
                    </div>
                </div>

                <div style="display: inline-block;">
                    <div class="player2">
                        <form>
                            <table>
                                <tr>
                                    <th>Pojmovi</th>
                                    <th id="2">
                                        Igrac3
                                    </th>
                                </tr>
                                <tr>
                                    <th>Drzava</th>
                                    <th id="drzava2">
                                        <input id="drzavaInput2" readonly style="width: 100%;">
                                    </th>
                                </tr>
                                <tr>
                                    <th>Grad</th>
                                    <th id="grad2">
                                        <input id="gradInput2" readonly style="width: 100%;">
                                    </th>
                                </tr>
                                <tr>
                                    <th>Reka</th>
                                    <th id="reka2">
                                        <input id="rekaInput2" readonly style="width: 100%;">
                                    </th>
                                </tr>
                                <tr>
                                    <th>Planina</th>
                                    <th id="planina2">
                                        <input id="planinaInput2" readonly style="width: 100%;">
                                    </th>
                                </tr>
                            </table>
                            <button type="button" id="send2">Potvrdi</button>

                        </form>
                    </div>
                    <div class="player3">
                        <form>
                            <table>
                                <tr>
                                    <th>Pojmovi</th>
                                    <th id="3">
                                        Igrac4
                                    </th>
                                </tr>
                                <tr>
                                    <th>Drzava</th>
                                    <th id="drzava3">
                                        <input id="drzavaInput3" readonly style="width: 100%;">
                                    </th>
                                </tr>
                                <tr>
                                    <th>Grad</th>
                                    <th id="grad3">
                                        <input id="gradInput3" readonly style="width: 100%;">
                                    </th>
                                </tr>
                                <tr>
                                    <th>Reka</th>
                                    <th id="reka3">
                                        <input id="rekaInput3" readonly style="width: 100%;">
                                    </th>
                                </tr>
                                <tr>
                                    <th>Planina</th>
                                    <th id="planina3">
                                        <input id="planinaInput3" readonly style="width: 100%;">
                                    </th>
                                </tr>
                            </table>
                            <button type="button" id="send3">Potvrdi</button>
                        </form>
                    </div>
                </div>

                <div id="posalji">

                </div>
            </div>
            <div class="column2">
                <div id="wrapper">
                    <div id="menu" style="text-align: center;">
                        <p class="welcome" style="text-align: center;">
                            <header class="naslov">
                                <div style="display: inline-block ; text-align: center;">
                                    <h3 style="text-align: center;">Zanimljiva geografija</h3>
                                    <img src="/img/svet.png" style="height: 25px;width: 25px;">
                                </div>
                            </header>
                        </p>
                    </div>

                    <div id="chatbox"></div>

                    <form name="message" id="gam">
                        <input name="usermsg" type="text" id="usermsg" />
                        <input name="submitmsg" type="button" id="submitmsg" value="Send" />
                    </form>
                </div>
            </div>
        </div>



    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js" integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ==" crossorigin="anonymous"></script>
    <script src="/js/gameplay.js"></script>

</body>

</html>