<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Lobby </title>
</head>

<body>
    <main>
        <header>Lobby</header>
        <form action="game" method="get">

            <div class="form-group">
                <div class="form-group">
                    <p id="here"></p>
                    <div>
                        <button type="button" id="rand" class="btn btn-outline-success btn-lg">Pridruži se nasumicnoj igri</button>
                    </div>
                    <div>
                        <button type="button" id="search" class="btn btn-outline-success btn-lg">Pretrazi sobe</button>
                    </div>
        </form>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js" integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ==" crossorigin="anonymous"></script>
    <script>
        const {
            username
        } = Qs.parse(location.search, {
            ignoreQueryPrefix: true

        });
        const ime = document.getElementById("here");
        ime.innerHTML = `${username}`;

        const socket = io("http://localhost:3000/lobby");

        socket.on('welcomeTolobby', (cur_room) => {

            console.log(`${cur_room} je trenutna soba `);

            const but1 = document.getElementById("rand");
            but1.addEventListener('click', login);

            async function login() {

                location.href = "http://localhost:3000/game/" + cur_room + "?username=" + `${username}`;
                console.log('Nasumicna soba');

            }

            const but2 = document.getElementById("search");
            but2.addEventListener('click', () => {
                location.href = "http://localhost:3000/room?username=" + `${username}`;
                console.log('Pretrazi sobe');
            })
            socket.on('check', live => {
                live = live.replace(/\\/g, "");
                live = live.replace(/"/g, "");
                console.log('Primih check ' + `${username}` + ` live ${live}`);
                if (username == live) {
                    alert("Vec ste u sobi");
                    location.href = "http://localhost:3000/login"
                }
            });
        });
    </script>
</body>


</html>