<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Zanimljiva geografija | Sobe</title>
</head>

<body>
    <main>
        <header class="naslov">
            <div style="display: inline-block">
                <h1>Zanimljiva geografija</h1>
                <img src="/img/svet.png" style="height: 55px;width: 55px;">
            </div>
        </header>

        <form action="game" method="get" style="display: grid; margin-top:20px;">

            <div id="33" class="form-group">
                <p id="here"></p>
                <label>Lista soba: </label>



            </div>
            <button type="button" id="nova" class="btn btn-outline-success btn-lg">Napravi novu sobu</button>
            <button type="button" id="private" class="btn btn-outline-success btn-lg">Napravi privatnu sobu</button>
            <button type="button" id="joinPrivat" class="btn btn-outline-success btn-lg">Pridruzi se privatnoj sobi</button>
            <button type="button" id="nazad" class="btn btn-outline-success btn-lg">Vrati se nazad</button>

        </form>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js" integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ==" crossorigin="anonymous"></script>
    <script src="/js/joinRoom.js">
    </script>
</body>

</html>